* {
  box-sizing: border-box;
}

.popular_titles {
  display: flex;
  height: 63vh;
  width: 75%;
  margin: auto;
  padding-top: 2.5rem;
}

.popular_titles-items {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('./images/placeholder.png'), black;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
  width: 200px;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
}

.popular_titles-dynamic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 75%;
  margin: auto;
  padding: 1rem;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 18%;
}
.socials img {
  height: 30px;
}

.store {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.store img {
  height: 40px;
}
